{% extends 'base.html' %}

{% block title %}Attractions{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <select name="attractions" multiple>
            {% for category in categories %}
                <option value="{{ category.pk }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="text" name='location' placeholder="WPISZ TU LOKALIZACJE">
        <br>
        <input type="number" name='km_radius' placeholder="WPISZ TU RADIUS W KM">
        <br><br>
        <input type="submit" value="WYSSSSSSSSSSSSLIJ">
    </form>

    {% for restauracja in restauracje %}
        {{ restauracja }}<br>
    {% endfor %}
{% endblock %}