{% extends 'base.html' %}

{% block title %}Party Wizard{% endblock %}
{% block content %}
    {% load static %}

    <div class="container border border-2">
        <h2 class="text-center">Witam w kreatorze imprez!</h2>

        {% if form_models %}
            <div>
                <h3>Przejdź do swoich niedokończonych imprez</h3>
            {% for formmodel in form_models %}
                <a href="{% url "party_wizard:list_to_do" pk=formmodel.pk %}"> {{ formmodel.name }} </a><br>
            {% endfor %}
            </div>
        {% endif %}


        <form action="" method="POST">
            {% csrf_token %}

            <p>Wybierz jaką imprezę chcesz stworzyć!</p>

            {% for event_list in event_lists %}
                <div class="row">
                    {% for event in event_list %}
                        <div class="col-sm-3">
                            <a href="{% url "party_wizard:choose_categories" pk=event.pk %}">
                                <img src="/media/{{ event.photo.image }}" class="w-100 p-1 rounded-pill"
                                     alt="{{ event.name }}"><br>
                                {{ event.name }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

        </form>

    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/choose_event.js' %}" type="module"></script>
{% endblock %}