{% extends 'base.html' %}
{% load static %}
{% block title %}Attractions{% endblock %}
{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/party_wizard.css' %}"/> {% endblock %}
{% block content %}

    <form method="POST">
        {% csrf_token %}

        <div class="container">
            <p>Co chcesz zorganizować na imprezie:</p>

                {% for service_category in service_categories %}
                    <input id={{ service_category }} value="{{ service_category.pk }}" name="categories" type="checkbox">
                    <label for="{{ service_category }}">{{ service_category.name }}</label>
                {% endfor %}
            <br>
            <input type="submit" value="Dalej">
        </div>
    </form>

{% endblock %}

{% block script %}
    <script src="{% static 'js/party_wizard.js'%}" type="module"></script>
{% endblock %}