{% extends 'base.html' %}

{% block title %}Party Wizard{% endblock %}
{% block content %}
    {% load static %}

    <div class="container">
        <div>
            <h2>Witam w kreatorze imprez!</h2>
            <p>Wybierz jaką imprezę chcesz stworzyć!</p>
        </div>

        <form action="" method="POST">
            {% csrf_token %}

            {% for event_list in event_lists %}
                <div class="row">
                    {% for event in event_list %}
                        <div class="col">
                            <a href="{% url "party_wizard:choose_categories" pk=event.pk %}">
                                <img src="{{ event.photo.image }}" class="w-100 p-1 rounded-pill" alt="{{ event.name }}"><br>
                                {{ event.name }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

        </form>
        <div>
            <br><br>
            <p>Twoje niedokończone formularze: </p>
            {% for form_model in form_models %}
                <a href="{% url "party_wizard:list_to_do" pk=form_model.pk %}">{{ form_model.name }}</a> <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}