{% extends 'base.html' %}
{% block title %}List To Do{% endblock %}
{% block content %}
    {% load static %}
    <div id="listToDo" class="container">
        <p id="currentName">Nazwa: {{ formmodel.name }}</p>
        <button id="addName">Edytuj nazwę imprezy</button>
        <input type="hidden" id="pk" value="{{ formmodel.pk }}">
        <br>
        <br>
        <br>
        <p>Szukaj: </p>
        {% for category in categories %}

            <a href="{% url "party_wizard:start_form" form_model_pk=formmodel.pk pk_servicecategory=category.pk %}">{{ category }}</a>
            <br>

        {% endfor %}
    </div>

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
{#            <img src="..." class="rounded me-2" alt="...">#}
            <strong class="me-auto">PartyWizard</strong>
            <small class="text-muted">Time</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Nazwa została zmieniona!
        </div>
    </div>


{% endblock %}

{% block script %}
    <script src="{% static 'js/list_to_do.js' %}" type="module"></script>
{% endblock %}