{% extends 'base.html' %}

{% block title %}Party Wizard{% endblock %}
{% block content %}

    {% load static %}

    {
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{% static "images/chrzest.jpg" %}" class="w-75 p-3 rounded-pill" alt="test">
            </div>
            <div class="col">
                <img src="{% static "images/urodziny.jpg" %}" class="w-75 p-3 rounded-pill" alt="test">
            </div>
            <div class="col">
                <img src="{% static "images/wesele.jpg" %}" class="w-75 p-3 rounded-pill" alt="test">
            </div>
        </div>
    </div>
{% endblock %}