{% extends 'base.html' %}
{% load static %}
{% block title %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    Attractions
{% endblock %}
{% block link_css %}

    <link rel="stylesheet" href="{% static 'css/party_wizard.css' %}"/> {% endblock %}
{% block content %}

    <section class=" form--steps">

        <form method="POST">
            {% csrf_token %}
            <input type="hidden" id="pk" value="{{ pk }}">
            <div data-step="1" class="container active">
                <div class="row row-cols-3">
                    <label for="location">Podaj lokalizację w której chcesz zorganizować imprezę:</label>
                    <input id="location" class="formSave" type="text">
                </div>
                <div class="row row-cols-3">
                    <label for="radius">Podaj w jakim obrębie kilometrów wyszukiwać:</label>
                    <input id="radius" class="formSave" type="number">
                </div>

                <label class="hidden" for="price">
                    Cena:
                </label>
                <select class="hidden" id="price">
                    <option value="1">Tanio</option>
                    <option value="2">Umiarkowanie</option>
                    <option value="3">Drogo</option>
                    <option value="4">Bardzo drogo</option>
                </select>
                <div class="button-div">
                    <input id="nextStep" type="button" value="Dalej">
                    <input id="save" type="button" value="Zapisz Formularz">
                </div>
            </div>

            <div data-step="2">
                <div id="option">
                    <select id="sortBy">
                        <option value="priceAscending">Price Ascending</option>
                        <option value="priceDescending">Price Descending</option>
                        <option value="ratingAscending">Rating Ascending</option>
                        <option value="ratingDescending">Rating Descending</option>
                    </select>
                </div>
                <div id="places">
                    No results
                </div>
                <div class="button-div">
                    <input id="nextStep" type="button" value="Dalej">
                    <input id="previousStep" type="button" value="Cofnij">
                    <input id="save" type="button" value="Zapisz Formularz">
                </div>
            </div>

            <div data-step="3">
                <p>test data-step3</p>
                <div class="button-div">
                    <input id="previousStep" type="button" value="Cofnij">
                    <input id="save" type="button" value="Zapisz Formularz">
                </div>
            </div>

        </form>

    </section>


{% endblock %}

{% block script %}

    {#<script async#}
    {#    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMvS96FedoeGa8Ec7HeygGYiSPWVNyzhY&callback=initMap">#}
    {#</script>#}
    {#    <script>#}
    {#        function initMapa() {#}
    {#            var map = new google.maps.Map(document.getElementById('map123'), {#}
    {#                center: {lat: 34.397, lng: 150.644},#}
    {#                zoom: 15#}
    {#            });#}
    {#        } // close function here#}
    {#    </script>#}
    {#    <script async defer#}
    {#            src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=test">#}
    {#    </script>#}
    {##}
    {##}
    {#    <script>#}
    {#        function test() {#}
    {#            var searchBox = new google.maps.places.SearchBox(form.querySelector('#location'));#}
    {##}
    {#        }#}

    {#    </script>#}
    <script src="{% static 'js/party_wizard.js' %}"></script>

{% endblock %}