{% extends 'base.html' %}
{% load static %}
{% block title %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    Attractions
{% endblock %}
{% block link_css %}

    <link rel="stylesheet" href="{% static 'css/party_wizard.css' %}"/> {% endblock %}
{% block content %}

    <section class="container form--steps">

        <form method="POST">
            {% csrf_token %}
            <input type="hidden" id="pk" value="{{ formmodel.pk }}">
            <input type="hidden" id="serviceCategory" value="{{ service_category }}">
            <div data-step="1" class="container active">
                <div class="row row-cols-3">
                    <label for="location">Lokalizacja:</label>
                    <input id="location" class="formSave" type="text">
                </div>
                <div class="row row-cols-3">
                    <label for="radius">W obrębie km:</label>
                    <input id="radius" class="formSave" type="number">
                </div>
                <div class="button-div">
                    <input id="nextStep" type="button" value="Dalej">
                    <input id="save" type="button" value="Zapisz Formularz">
                </div>
            </div>

            <div data-step="2">
                <div id="option">
                    <select id="sortBy">
                        <option value="priceAscending">Price Ascending</option>
                        <option value="priceDescending">Price Descending</option>
                        <option value="ratingAscending">Rating Ascending</option>
                        <option value="ratingDescending">Rating Descending</option>
                    </select>
                </div>
                <div id="places">
                    No results
                </div>
                <div class="button-div">
                    <input id="nextStep" type="button" value="Dalej">
                    <input id="previousStep" type="button" value="Cofnij">
                    <input id="save" type="button" value="Zapisz Formularz">
                </div>
            </div>

            <div data-step="3">
                <p>test data-step3</p>
                <div class="button-div">
                    <input id="previousStep" type="button" value="Cofnij">
                    <input id="save" type="button" value="Zapisz Formularz">
                </div>
            </div>

        </form>

    </section>


{% endblock %}

{% block script %}
    <script src="{% static 'js/party_wizard.js' %}" type="module"></script>

{% endblock %}