/* for image preview */
.image-preview {
    width: 200px;
    min-height: 100px;
    border: 2px solid #dddddd;
    margin-top: 15px;
}

.image-preview__image {
    /* display: none; */
    width: 100%;
}