/* for image preview */
.image-preview {
    width: 200px;
    min-height: 100px;
    border: 2px solid #dddddd;
    margin-top: 15px;

    /* default text */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
}

.image-preview__image {
    display: none;
    width: 100%;
}