<section id="contact" class="contact bottom-0 end-20">
    <form action="" method="POST">
        {% csrf_token %}
        <!-- Grid row -->
        <div class="row d-flex justify-content-center">
            <!-- Grid column -->
            <div class="col-auto">
                <p class="pt-2">
                    <h4>Napisz do nas:</h4>
                </p>
            </div>

            {% if request.user.is_authenticated %}
            <!-- Grid column -->
            Adres zalogowanego użytkownika
            {% else %}
            <form action="" method="POST">
                <!-- Grid column -->
                <div class="col-md-5 col-12">
                    <!-- Email -->
                    <input type="email" class="form-control" id="message_mail" placeholder="Twój email...">
                </div>
                {% endif %}
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="mb-3">
                    <!-- Message -->
                    <textarea class="form-control" id="message" placeholder="Wiadomość..." rows="3"
                        cols="30"></textarea>
                </div>
                <div>
                    <button type="submit" class="btn btn-outline-dark" data-mdb-ripple-color="dark">
                        Wyślij
                    </button>

                </div>
        </div>
    </form>
</section>