<div class="row">

<!--Gallery-->
    <div class="row">
        Galeria:
    </div>

    <div class="row row-cols-8">
        {{ images|length|json_script:"img_counter" }}

        {% if images %}
        <small>
            (wybierz zdjęcia, które chcesz usunąć;
            wybierz główne zdjęcie)
        </small>
        <!--existing images-->
        {% for img in images %}
        {% comment %} <input type="checkbox" name="all_images" id="{{ forloop.counter0 }}" value="{{ img.pk }}"
            checked="checked" /> {% endcomment %}
        <div class="col">
            <!--delete checkbox-->
            <input type="checkbox" id="{{ forloop.counter0 }}" name="img[]" value="{{ img.pk }}" />
            <!--main selector-->
            <input type="radio" name="main_image" id="{{ forloop.counter0 }}" value="{{ forloop.counter0 }}"
                {% if img.is_main %} checked="checked" {% endif %} />

            <label for="{{ forloop.counter0 }}">
                {{ forloop.counter0 }}
                <a href="{{ img.image.large.url }}"><img src="{{ img.image.thumbnail.url }}" alt=""></a>
            </label>
        </div>
        {% endfor %}
        {% else %}
        Ogłoszenie nie posiada zdjęć.
        {% endif %}
    </div>

    <!--added images-->
    <div class="row row-cols-8" id="imgPreview">
    </div>
<!--end Gallery-->

<!--Movies-->
    <div class="row">
        Filmy:
    </div>

    <div class="row row-cols-8">
        {{ movies|length|json_script:"mov_counter" }}

        {% if movies %}
        <small>
            (wybierz filmy, które chcesz usunąć;)
        </small>
        <!--existing images-->
        {% for mov in movies %}
        <div class="col">
            <!--delete checkbox-->
            <input type="checkbox" id="{{ forloop.counter0 }}" name="mov[]" value="{{ mov.pk }}" />

            <label for="{{ forloop.counter0 }}">
                {{ forloop.counter0 }}
                {% comment %} <a href="{{ img.image.large.url }}"><img src="{{ img.image.thumbnail.url }}" alt=""></a> {% endcomment %}
            </label>
        </div>
        {% endfor %}
        {% else %}
        Ogłoszenie nie posiada filmów.
        {% endif %}
    </div>

    <!--added images-->
    <div class="row row-cols-8" id="movPreview">
    </div>
</div>
<!--end Movies-->
</div>

<div class="row">
<div class="row text-center">

    <!--Images-->
    <div class="col-lg-6 col-md-12">
        <div class="input-group mb-3">
            <label class="input-group-text" for="images">Zdjęcia</label>
            <!--TODO: add accepted file types: accept="image/.jpg, image/.png"-->
            <input type="file" multiple class="form-control" id="images" placeholder="Wybierz zdjęcia..."
                aria-label="Zdjęcia:" aria-describedby="images" name="images">
            {% comment %} <div class="invalid-feedback">{{ form.errors.title }}</div> {% endcomment %}
        </div>
    </div>
    <!--end Images-->


    <!--Movie-->
    <div class="col-lg-6 col-md-12">
        <div class="input-group mb-3">
            <label class="input-group-text" for="movies">Filmy</label>
            <input type="file" multiple class="form-control" id="movies" placeholder="Wybierz filmy..."
                aria-label="Filmy:" aria-describedby="movies" name="movies">
            {% comment %} <div class="invalid-feedback">{{ form.errors.title }}</div> {% endcomment %}
        </div>
    </div>
    <!--end Movie-->


    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="input-group mb-3">
                <span class="input-group-text" for="{{ form.title.id_for_label }}">Tytuł</span>
                {{ form.title }}
                {% comment %} <div class="invalid-feedback">{{ form.errors.description }}</div>
                {% endcomment %}
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="input-group mb-3">
                <span class="input-group-text" for="{{ form.description.id_for_label }}">Opis</span>
                {{ form.description }}
                {% comment %} <div class="invalid-feedback">{{ form.errors.description }}</div>
                {% endcomment %}
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-4 col-md-12">
            <div class="input-group mb-3">
                <span class="input-group-text" for="{{ form.category.id_for_label }}">Kategoria</span>
                {{ form.category }}
                {% comment %} <select class="form-select" id="{{ form.category.id_for_label }}" name="category">
                    <option value="nic">wybierz</option>
                    {% for cat in form.category %}
                    <option value="{{ cat.pk }}">{{ cat.pk }}</option>
                    {% endfor %}
                </select> {% endcomment %}
                {% comment %} <div class="invalid-feedback">{{ form.errors.category }}</div>
                {% endcomment %}
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="input-group mb-3">
                <label class="input-group-text" for="{{ form.event_type.id_for_label }}">Typ imprezy</label>
                {{ form.event_type }}
                {% comment %} <div class="invalid-feedback">{{ form.errors.event_type }}</div>
                {% endcomment %}
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-2 col-md-12">
            <button type="submit" class="btn btn-primary">Zapisz</button>
        </div>
    </div>