{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="bg-image d-flex justify-content-center align-items-center" style="
    background-image: url('{% static 'images/search_party.jpg' %}');
    height: 30vh;
  ">
  <div class="justify-content-center">
    <nav class="navbar navbar-light bg-dark start-50 translate-middle">
      <form class="container-fluid">
        <div class="input-group">
          <span class="input-group-text" id="search">Podaj lokalizację</span>
          <input type="text" class="form-control" placeholder="Wyszukaj" aria-label="query" aria-describedby="search">
        </div>
      </form>
    </nav>
  </div>
</div>

<div>
  LISTA Z LOSOWYMI LOKALAMI (5x3?)
  <div class="container">
    <div class="row">
      <p>Lokal na chrzciny, komunię, wesele</p>
      {% for local in family_party_locals %}
      <div class="col">
        {{ local.name }}
      </div>
      {% endfor %}
    </div>

    <div class="row">
      <p>Lokal na urodziny i imprezy ze znajomymi</p>
      {% for local in family_party_locals %}
      <div class="col">
        {{ local.name }}
      </div>
      {% endfor %}
    </div>

    <div class="row">
      <p>Lokal na urodziny i imprezy ze znajomymi</p>
      {% for local in family_party_locals %}
      <div class="col">
        {{ local.name }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}

{% block foot_newsletter %}
{% include 'newsletter_form.html' %}
{% endblock foot_newsletter %}