{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="bg-image d-flex justify-content-center align-items-center" style="
    background-image: url('{% static 'images/search_party.jpg' %}');
    height: 30vh;
  ">
  <div class="justify-content-center">
    <nav class="navbar navbar-light bg-dark start-50 translate-middle">
      <form class="container-fluid">
        <div class="input-group">
          <form action="" method="POST">
            {% csrf_token %}
            <span class="input-group-text" id="search">Podaj lokalizację</span>
            <input type="text" class="form-control" placeholder="Wyszukaj" aria-label="query" aria-describedby="search">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Szukaj</button>
          </form>
        </div>
      </form>
    </nav>
  </div>
</div>

<div>
  LISTA Z LOSOWYMI LOKALAMI
  <!--TODO: display random image-->
  <div class="container">
    <div class="row">
      <p>Lokal na chrzciny, komunie, wesele</p>
      {% for ann in weddings %}
      <div class="col">
        <div class="row">
          <a href="{% url 'announcement:announcement_details' slug=ann.slug %}"><img src="{{ ann.image.small.url }}"
              alt=""></a>
        </div>
        <div class="row">
          <a href="{% url 'announcement:announcement_details' slug=ann.slug %}">{{ ann.title }}</a>
        </div>
        {% endfor %}
      </div>

      <div class="row">
        <p>Impreza integracyjna i spotkania biznesowe</p>
        {% for ann in business %}
        <div class="col">
          <div class="row">
            <a href="{% url 'announcement:announcement_details' slug=ann.slug %}"><img src="{{ ann.image.small.url }}"
                alt=""></a>
          </div>
          <div class="row">
            <a href="{% url 'announcement:announcement_details' slug=ann.slug %}">{{ ann.title }}</a>
          </div>
          {% endfor %}
        </div>

        <div class="row">
          <p>Lokal na urodziny i imprezy ze znajomymi</p>
          {% for ann in party %}
          for:{% for img in ann.image.all %}{{ img}}{% endfor %}
              {% comment %} {{ iamge }} {% endcomment %}
            {% comment %} images:{{ ann.image.small }} {% endcomment %}
          <div class="col">
            <div class="row">
              <a href="{% url 'announcement:announcement_details' slug=ann.slug %}"><img src="{{ ann.image.small.url }}"
                  alt=""></a>
            </div>
            <div class="row">
              <a href="{% url 'announcement:announcement_details' slug=ann.slug %}">{{ ann.title }}</a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      {% endblock content %}

      {% block foot_newsletter %}
      {% include 'newsletter_form.html' %}
      {% endblock foot_newsletter %}