{% extends 'base.html' %}

{% block title %}Profil{% endblock %}
{% load static %}
{% block content %}

<div>
    Avatar: <img alt="My image" src="{{ object.image.thumbnail.url }}" /><br>
    Imie: {{ user_data.first_name }}<br>
    Nazwisko: {{ user_data.last_name }}<br>
    E-Mail: {{ user_data.email }}<br>
</div>
<div>
    <a href="{% url 'announcement:add_announcement' %}">Dodaj ogłoszenie</a>
</div>

{% if user.is_authenticated and user == user_data %}
<div class="input-group mb-3">
    <a href="{% url 'account:edit_profile' pk=user.pk %}">Edytuj profil</a>
</div>
{% endif %}

<div>
    Twoje ogłoszenia:
    <ul>
        {% for announcement in  announcements %}
        <li>
            <a href="{% url 'announcement:announcement_details' slug=announcement.slug %}">{{ announcement.title }}</a><br>
            <small>{{ announcement.date }}</small>
            {% if user.is_authenticated and user == user_data %}
            <br>
            <a href="{% url 'announcement:update_announcement' slug=announcement.slug %}">Edytuj</a>
            <a href="{% url 'announcement:delete_announcement' slug=announcement.slug %}">Usuń</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}