{% extends 'base.html' %}
{% load static %}
{% block title %}Rejestracja{% endblock title %}
{% block content %}
<div class="container-sm text-center">
    <img src="{% static 'images/register.jpg' %}" class="rounded mx-auto d-block" alt="...">
    <h2>Zarejestruj się:</h2>
    <form method="POST" action="" enctype="multipart/form-data" class="row g-3">

        <div class="row justify-content-center">
            <div class="col col-lg-4 col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="avatar" for="{{ form.avatar.id_for_label }}">Awatar</label>
                        <input type="file" class="form-control" id="avatar" name="image" accept="image/*">
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col col-lg-4 col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" for="{{ form.first_name.id_for_label }}">Imię:</span>
                    {{ form.first_name }}
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col col-lg-4 col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" for="{{ form.last_name.id_for_label }}">Nazwisko:</span>
                    {{ form.last_name }}
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col col-lg-4 col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" for="{{ form.email.id_for_label}}">Email:</span>
                    {{ form.email }}
                    <div class="invalid-feedback">{{ form.errors.email }}</div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col col-lg-4 col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" for="{{ form.password1.id_for_label }}">Hasło:</span>
                    {{ form.password1 }}
                    <div class="invalid-feedback">{{ form.errors.password1 }}</div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col col-lg-4 col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" for="{{ form.password2.id_for_label }}">Powtórz hasło:</span>
                    {{ form.password2 }}
                    <div class="invalid-feedback">{{ form.errors.password2 }}</div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col col-lg-4 col-md-6">
                <div class="input-group mb-3">
                    {{ form.is_firma.label }}
                    {{ form.is_firma }}
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col col-lg-4 col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="firma_name">Nazwa firmy:</span>
                    <input type="text" class="form-control" id="firma_name" placeholder="Nazwa firmy..."
                        aria-label="Nazwa firmy:" aria-describedby="firma_name" name="name">
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="d-grid gap-2 col-4 mx-auto">
                <button type="submit" class="btn btn-primary">Zarejestruj się</button>
            </div>
        </div>
        {% csrf_token %}
    </form>
</div>

{% endblock %}