{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>{% block title %}BASE{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    <header class="header--main-page">
        <nav class="container container--70">
            <ul class="nav--actions">
                {% if request.user.is_authenticated %}
                <li class="logged-user">
                    Witaj {{ request.user.email }}!
                    <ul class="dropdown">
                        {% if request.user.is_superuser %}
                        <li><a href="{% url 'admin:index' %}">Admin</a></li>
                        {% else %}
                        <li><a href="{% url 'account:user_details' pk=request.user.pk %}">Profil</a></li>
                        {% endif %}
                        <li><a href="#">Ustawienia</a></li>
                        <li><a href="{% url 'account:logout' %}">Wyloguj</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="not-logged-user">
                    <ul class="dropdown">
                        <li><a href={% include 'login_link.html' %}
                                class="btn btn--small btn--without-border">Zaloguj</a></li>
                        <li><a href={% include 'register_link.html' %} class="btn btn--small btn--highlighted">Załóż
                                konto</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>

            <ul>
                <li><a href="{% url 'charity_donation:home' %}" class="btn btn--without-border active">Start</a></li>
                <li><a href="{% url 'charity_donation:home' %}#steps" class="btn btn--without-border">O co chodzi?</a>
                </li>
                <li><a href="{% url 'charity_donation:home' %}#about-us" class="btn btn--without-border">O nas</a></li>
                <li><a href="{% url 'charity_donation:home' %}#help" class="btn btn--without-border">Lokale</a></li>
                <li><a href="{% url 'charity_donation:add_donation' %}#donation" class="btn btn--without-border">Party
                        Wizard</a></li>
                <li><a href="{% url 'charity_donation:home' %}#contact" class="btn btn--without-border">Kontakt</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    CONTENT
    {% endblock content %}

    <footer>
        <div id="contact" class="contact">
            <h2>Skontaktuj się z nami</h2>
            <h3>Formularz kontaktowy</h3>
            <form class="form--contact">
                <div class="form-group form-group--50"><input type="text" name="name" placeholder="Imię" /></div>
                <div class="form-group form-group--50"><input type="text" name="surname" placeholder="Nazwisko" /></div>

                <div class="form-group"><textarea name="message" placeholder="Wiadomość" rows="1"></textarea></div>

                <button class="btn" type="submit">Wyślij</button>
            </form>
        </div>
        <div class="bottom-line">
            <span class="bottom-line--copy">Copyright &copy; 2021</span>
            <div class="bottom-line--icons">
                {% comment %} <a href="#" class="btn btn--small"><img
                        src="{% static 'images/icon-facebook.svg' %}" /></a> {% endcomment %}
                {% comment %} <a href="#" class="btn btn--small"><img
                        src="{% static 'images/icon-instagram.svg' %}" /></a> {% endcomment %}
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>