<!-- Section: Form -->
<section class="">
    <form action="" method="POST">
        {% csrf_token %}
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
                <p class="pt-2">
                    <strong>Chcesz otrzymywać świeże ieformacje?</strong>
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-5 col-12">
                <!-- Email input -->
                <div class="form-outline form-white mb-4">
                    <input type="email" id="newsletter_mail" class="form-control" />
                    <label class="form-label" for="newsletter_mail">Adres email</label>
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-auto">
                <!-- Submit button -->
                <button type="submit" class="btn btn-outline-light mb-4">
                    Zapisz się!
                </button>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </form>
</section>
<!-- Section: Form -->